body,html{
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background: #c9356c;
}

.wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    top: 0;
    left: 0;
}

.banner-text{
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-text h2{
    color: #fff;
    font-family: poppins;
    text-transform: uppercase;
    font-size: 50px;
    border-bottom: 5px solid #fff;
    border-top: 5px solid #fff;
}

.box {
    position: absolute;
    /bottom: -100px;
    background: #f48db4;
    opacity: .6;
    animation: animate 15s infinite ease;
}

.box:nth-child(1){
    width: 75px;
    height: 75px;
    left: 7%;
    animation-delay: 1s;
}

.box:nth-child(2){
    width: 80px;
    height: 80px;
    left: 20%;
    animation-delay: 5s;
}

.box:nth-child(3){
    width: 62px;
    height: 62px;
    left: 40%;
    animation-delay: 9s;
}

.box:nth-child(4){
    width: 80px;
    height: 80px;
    left: 50%;
    animation-delay: 2s;
}

.box:nth-child(5){
    width: 60px;
    height: 60px;
    left: 27%;
    animation-delay: 10s;
}

.box:nth-child(6){
    width: 55px;
    height: 55px;
    left: 65%;
    animation-delay: 5s;
}

.box:nth-child(7){
    width: 70px;
    height: 70px;
    left: 80%;
    animation-delay: 9s;
}

.box:nth-child(8){
    width: 90px;
    height: 90px;
    left: 75%;
    animation-delay: 3s;
}

.box:nth-child(9){
    width: 48px;
    height: 48px;
    left: 5%;
    animation-delay: 9s;
}

@keyframes animate{
    0%{
        bottom: -100px;
        transform: translateX(0)
    }

    50%{
        transform: translateX(150px)
    }

    100%{
        bottom: 1000px;
        transform: translateX(-300px)
    }
}






